/include/ "system-conf.dtsi"
/ {
	usb_phy0: phy0@e0002000 {
		compatible = "xlnx,zynq-usb-2.20.a", "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};
};

&axi_dynclk_0 {
	compatible = "xlnx,axi-dynclk-1.2","digilent,axi-dynclk";
	#clock-cells = <0x0>;
	clocks = <&clkc 15>, <&clkc 15>;
	clock-output-names = "digilent-dynamic-clock";
};

&v_frmbuf_rd_0 {
    reset-gpios = <&gpio0 54 1>;
};

&v_tc_0 {
	compatible = "xlnx,v-tc-6.2", "xlnx,v-tc-6.1", "xlnx,bridge-v-tc-6.1";
	xlnx,pixels-per-clock = <1>;
	clocks = <&misc_clk_0>, <&clkc 15>, <&axi_dynclk_0>;
};

&amba {
	ethernet@e000b000 {
		phy-handle = <&ethernet_phy>;
		ethernet_phy: ethernet-phy@1 {
			reg = <1>;
		};
	};
};

&amba_pl {
	digilent_encoder {
		compatible = "digilent,drm-encoder";
		clocks = <&axi_dynclk_0>;
		clock-names = "pixel-clk";
		digilent,fmax = <150000>;
		digilent,hmax = <1920>;
		digilent,vmax = <1080>;
		digilent,hpref = <1280>;
		digilent,vpref = <720>;	
		digilent,clk-baseaddr = <0x43c00000>;
		digilent,edid-i2c = <&i2c0>;

		#address-cell = <1>;
		#size-cell = <0>;
		ports {
			#address-cell = <1>;
			#size-cell = <0>;
			port@0 {
				reg = <0>;
				hdmi_encoder: endpoint {
				remote-endpoint = <&pl_disp_crtc>;
				};
			};
		};
	};


	drm-pl-disp-drv {
		compatible = "xlnx,pl-disp";
		dmas = <&v_frmbuf_rd_0 0>;
		dma-names = "dma0";
		xlnx,vformat = "AR24";
		xlnx,bridge = <&v_tc_0>;
		#address-cells = <1>;
		#size-cells = <0>;
        	status = "okay";

		pl_display_port: port@0 {
			reg = <0>;
			pl_disp_crtc: endpoint {
				remote-endpoint = <&hdmi_encoder>;
			};
		};
	};
};

&usb0 {
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};

&axi_intc_0 {
	interrupt-names = "irq";
      	interrupt-parent = <&intc>;
      	interrupts = <0 29 4>;
	xlnx,kind-of-intr = <0x0>;
      	xlnx,num-intr-inputs = <0x20>;
};
